<h1 class="banner"><%= @stylist.name() %></h1>
<a href="/stylists/<%= @stylist.id() %>/edit"><button class="btn btn-info">Edit <%= @stylist.name() %></button></a>

    <% if @stylist.clients().any?() %>
      <h3>Here are all the clients for this stylist:</h3>

      <ul>
        <% @stylist.clients().each() do |client| %>
          <li><%= client.name() %> </li>
          <form action="/clients" method="post">
            <input name="_method" value="delete" type="hidden">
            <input name="id" value="<%=client.id()%>" id="id" type="hidden">
            <button type="submit" class="btn btn-danger btn-xs">Delete</button>
          </form>
        <% end %>
      </ul>

      <% else %>
        <br></br>
        <p>This stylist does not have any clients!</p>
      <% end %>

    <hr>

    <h3>Add a client to <%= @stylist.name() %> </h3>

    <form action="/clients" method="post">
      <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">
      <label for="name">Name of the client:</label>
      <input id="name" name="name" type="text">
      <button class="btn btn-primary" type="submit">Add client</button>
    </form>

    <hr>

    <a href="/stylists"><button class="btn btn-default">Return to Stylists</button></a>
    <a href="/admin"><button class="btn btn-primary">Return to Admin</button></a>
